/*
body {
    background-image: url("icon.png");
    background-color: #cccccc;
}
.one {
  background-image: url(icon.png);
}

.two {
  background-image: linear-gradient(to bottom, #aaa, #eee);
}

.three {
  background-image: url(images/icon.png), linear-gradient(to bottom, #aaa, #eee);
}
*/

 accepted
	

How about something like this: http://jsfiddle.net/EgLKV/3/

Its done by using position:absolute and z-index to place the text over the image.

#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
